= form_for @airbus do |f|
  - if @airbus.errors.any?
    #error_explanation
      %h2= "#{pluralize(@airbus.errors.count, "error")} prohibited this airbus from being saved:"
      %ul
        - @airbus.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :status
    = f.number_field :status
  .actions
    = f.submit 'Save'
