%h1 Listing airbuses

%table
  %thead
    %tr
      %th Number
      %th Status
      %th
      %th
      %th

  %tbody
    - @airbuses.each do |airbus|
      %tr
        %td= airbus.id
        %td{class: "status_#{airbus.id}"}= get_status_air(airbus.status)
        %td= link_to 'History', airbus
        %td= link_to 'Takeoff', "javascript:void(0)", data: {id: airbus.id}, class: "takeoff"
        %td= link_to 'Landing', "javascript:void(0)", data: {id: airbus.id}, class: "landing"



%br

= link_to 'New Airbus', new_airbus_path
