%p#notice= notice

%p
  %b Status:
  = @airbus.status

%table
  %thead
    %tr
      %th Time
      %th Status
      %th
      %th
      %th

  %tbody
    - @events.each do |event|
      %tr
        %td= event.created_at
        %td= get_status_air(event.change_status)


= link_to 'Edit', edit_airbus_path(@airbus)
\|
= link_to 'Back', airbuses_path
